body {
    /*background: #1C2739 url(../../public/assets/images/main-page-pic.png)  no-repeat;*/
    background: #1C2739 url(../public/assets/images/main-page-pic.png)  no-repeat;
    background-position-x: 58%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
