@font-face {
    font-family: 'Russo One';
    src: local('Russo One'), local('RussoOne'),
    url('../fonts/russoone.woff2') format('woff2'),
    url('../fonts/russoone.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


body {
    /*background: #1C2739 url(../../public/assets/images/main-page-pic.png)  no-repeat;*/
    background: #1C2739 url(../images/main-page-pic.png)  no-repeat;
    background-position-x: 58%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header-wrapper {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
img, .m-top {
    margin-top: 25px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
//min-height: 70vh;
//margin-top: 80px; // if header is fixed do mt: headerHeight
}

.container {
    position: relative;
    flex: 0 0 auto;
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}

.title {
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    color: #EF5221;
}
